.nav-left{
    padding-left: 8%;
} 
.nav-link {
    min-width: 120px;
    text-align: center;
}
.bg-vets {
    background-color: navy;
}
.foot-text{
    color: white;
    padding-left: 10%;
    padding-top: 3%;
}
.nav-text a {
    color: white !important;
}
.nav-link:hover {
    color: gold !important;
    border-bottom: solid 1px gold;
}
.container-md {
    padding-top: 3%;
}
.vets-icons {
    padding-left: 10%;
    padding-top: 6%;
}
body {
    background-color: #aaa9ad;
}
.accordion-bg {
    background-color: navy !important;
    color: white;
}
.white-txt {
    color: white !important;
}
.header-txt {
    font-size: 2.5rem;
}
li a:hover {
    background-color: navy !important;
    color: gold !important;
    border-bottom: solid 1px gold;
}
.white-bord {
    border: solid 1px white;
}
.img-fluid {
    width: 200px;
}
html {
    background-color: navy;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .fcontainer {
    width: auto;
    max-width: 100%;
  }
.main-txt {
    color: black;
    font-size: 1.375rem;
    text-align: center;
}
.txt-header {
    font-weight: bolder;
    text-align: center;
}
a:link {
    color: navy;
}
.vav-card {
    font-size: 1rem;
    min-width: 5rem;
}
#vavs-involve{
    font-size: 2.5rem;
    text-align: center;
    color: navy;
}
#vavs-involve a {
    color: white;
    min-width: 150px;
    min-height: 30px;
    margin-bottom: auto;
}
@media (min-width:356px) {
    .vav-card {
      margin: 2px;
    }
}

@media (min-width:576px) {
    .vav-card {
      margin: 1rem;
    }
}
.officers-container {
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
    
}
<<<<<<< HEAD
#bannerText {
    overflow-wrap: break-word;
    width: fit-content;
}
=======
>>>>>>> parent of b957499 (banner txt)
