.nav-left{
    padding-left: 8%;
} 
.nav-link {
    min-width: 120px;
    text-align: center;
}
.bg-vets {
    background-color: navy;
}
.foot-text{
    color: white;
    padding-left: 10%;
    padding-top: 3%;
}
.nav-text a {
    color: white !important;
}
.nav-link:hover {
    color: gold !important;
    border-bottom: solid 1px gold;
}
.container-md {
    padding-top: 3%;
}
.vets-icons {
    padding-left: 10%;
    padding-top: 6%;
}
body {
    background-color: #aaa9ad;
}
.accordion-bg {
    background-color: navy !important;
    color: white;
}
.white-txt {
    color: white !important;
}
.header-txt {
    font-size: 2.5rem;
}
li a:hover {
    background-color: navy !important;
    color: gold !important;
    border-bottom: solid 1px gold;
}
.white-bord {
    border: solid 1px white;
}
.img-fluid {
    width: 200px;
}
html {background-color: navy;}